body{
    margin: 0;
    padding:0;
    overflow-x: hidden;
    overflow-y:auto;
}

main{
    position: relative;
    top:2.5rem;
    max-width: 75rem;
    height: calc(100vh - 3rem);
    margin: 0 auto;
}
@media (min-width: 600px) and (max-width:768px) {
   html{
       font-size: 50%;
   }
}

@media (min-width: 768px) and (max-width:1024px) {
    html{
        font-size: 62.5%;
    }
 }
@media (min-width: 1024px) and (max-width:1200px) {
    html{
        font-size: 80%;
    }
 }
